# Global snippets
# see honza/vim-snippets and SirVer/ultisnips

snippet #header
	# Author:: `system("git config user.name|tr -d '\n'")` (<`system("git config user.email|tr -d '\n'")`>)
	# Date:: `system("ruby -e 'puts Time.now'")`

snippet dateutc
	`strftime("%Y-%m-%d %T%z")`

snippet dateunix
	`strftime("%Y-%m-%d %s")`

snippet utime
	`strftime("%T UTC%z")`
